<div class="modal-wrap">
    <div class="modal-bodies">
      <div class="modal-body modal-body-step-1 is-showing">
        <div class="title">Connexion</div>
        <form>
          <input type="text" placeholder="Name"/>
          <input type="email" placeholder="Email"/>
          <div class="text-center">
            <button class="btn button">Se connecter</button>
          </div>
          <div class="text-center mt-2">
            <a routerLink="/signup">Créer un compte </a>
          </div>
        </form>
        <h4>your token is:{{token}}</h4>
      </div>
    </div>
</div>
