<div class="modal-wrap">
  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Connexion</div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="text" placeholder="Username" formControlName="username"/>
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
             class="alert alert-danger">
          <div *ngIf="username.errors?.['required']">
            Username is required!
          </div>
        </div>
        <input type="password" placeholder="Password" formControlName="password"/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">
          <div *ngIf="password.errors?.['required']">
            Password is required!
          </div>
        </div>
        <div class="text-center">
          <button class="btn button" [disabled]="!loginForm.valid">Se connecter</button>
        </div>
        <div class="text-center mt-2">
          <a routerLink="/signup">Créer un compte </a>
        </div>
      </form>
      <h4>your token is:{{token}}</h4>
    </div>
  </div>
</div>
