<div class="modal-wrap">
    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Création de compte</div>
            <form>
                <input type="text" placeholder="Nom de famille *" />
                <input type="text" placeholder="Prénom(s) *" />
                <input type="text" placeholder="Pseudo*" />
                <input type="email" placeholder="E-Mail*" />
                <input type="password" placeholder="Mot de passe*" />
                <input type="password" placeholder="Confirmer le mot de passe*" />
                <div class="text-center">
                    <div class="button">Créer</div>
                </div>
                <div class="text-center mt-2">
                    <a routerLink="/home">Revenir à l'accueil </a>
                  </div>
            </form>
        </div>


    </div>
</div>