
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="comment289-box">
                <h3>Créer un post</h3>
                <hr>
                <div class="row">
                    <form class="form" #f="ngForm" (ngSubmit)="submit(f)" novalidate>
                        <div class="col-12">
                            <div class="form-group">
                                <p>Titre*</p>
                                <input type="text"
                                        class="form-control"
                                        placeholder="Titre"
                                        name="subject"
                                        ngModel #subject="ngModel" required minlength="10">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea
                                    class="form-control"
                                    name="content"
                                    placeholder="Faites une description détailler de votre question"
                                    cols="30"
                                    rows="10"
                                    ngModel #content="ngModel" required minlength="30">
                                </textarea>
                            </div>
                        </div>
                        <button type="submit" class="pos393-submit">Publier</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>