<section class="header-descriptin329">
    <div class="container">
        <h3>Détails du post</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Posts</a></li>
            <li class="active">{{ post.subject }}</li>
        </ol>
    </div>
</section>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <app-question [post]="post"></app-question>
                <app-create-comment [post] = "post"></app-create-comment>
                <div class="comment-list12993">
                    <div class="container">
                        <div class="row">
                            <div class="comments-container">
                                <ul id="comments-list" class="comments-list">
                                    <li *ngFor="let comment of post.comments">
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar"><img src="assets/image/emptyProfil.jpg" alt=""></div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name"><a href="#"> {{ comment.author.userName}}</a></h6>
                                                    <div>
                                                        <span>
                                                            <i class="fa fa-clock-o" aria-hidden="true">{{comment.date | date: 'short'}}</i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">{{ comment.message }}</div>
                                            </div>
                                        </div>

                                        <ul class="comments-list reply-list">
                                            <li>
                                                <div class="comment-avatar"><img src="assets/image/images.png" alt=""></div>
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                                        <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 ,
                                                                2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i>
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="comment-content"> Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing elit. Velit omnis animi et iure
                                                        laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment-avatar"><img src="assets/image/images.png" alt=""></div>
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name by-author"><a href="#">Agustin Ortiz</a>
                                                        </h6> <span><i class="fa fa-clock-o" aria-hidden="true"> January
                                                                15 , 2014 at 10:00 pm</i></span> <i
                                                            class="fa fa-reply"></i> <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="comment-content"> Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing elit. Velit omnis animi et iure
                                                        laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment-avatar"><img src="assets/image/images.png" alt=""></div>
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                                        <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 ,
                                                                2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i>
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="comment-content"> Lorem ipsum dolor sit amet,
                                                        consectetur adipisicing elit. Velit omnis animi et iure
                                                        laudantium vitae, praesentium optio, sapiente distinctio illo?
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment289-box">
                    <h3>Leave A Reply</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="replay-input-name42389">
                                <p>Name*</p>
                                <input type="text" class="name-box24894 input238-design" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="replay-email-input89298">
                                <p>E-mail*</p>
                                <input type="text" class="name-box24894 input238-design" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="replay-input-websit128923">
                                <p>Website*</p>
                                <input type="text" class="name-box24894 input238-design" placeholder="Website">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="post9320-box">
                                <input type="text" class="comment-input219882" placeholder="Enter Your Post">
                            </div>
                            <button type="button" class="pos393-submit">Post Your Answer</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>