<div class="question-type2033">
    <div class="row">
        <div class="col-md-1">
            <div class="left-user12923 left-user12923-repeat">
                <a href="#"><img src="assets/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="right-description893">
                <div id="que-hedder2983">
                    <h3><a [routerLink]="['/posts', 1]">Why Do You Want to Work at This Company?</a></h3>
                </div>
                <div class="ques-details10018">
                    <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing
                        iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna
                        adipiscing iaculis.</p>
                </div>
                <hr>
                <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a
                        href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i
                            class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i
                            class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a> <a href="#"><i
                            class="fa fa-bug" aria-hidden="true"> Report</i></a> </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ques-type302">
                <a href="#">
                    <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true"> 333335
                            answer</i></button>
                </a>
                <a href="#">
                    <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o"
                            aria-hidden="true"> 70 view</i> </button>
                </a>
            </div>
        </div>
    </div>
</div>